*{
    margin:0;
    padding:0;
  }
  .container{
    width:100vw;
    height:100vh;
  }
  .intros{
    background-color:#AD1457;
    padding:2rem 0;
    
    
    }
  .titulo-intros{
    background-color:white;
    color:#AD1457;
    width:15rem;
    border-radius:10px;
    text-align:center;
    margin:0 auto;
    
  }
  
  .contenido{
    display:flex;
    justify-content:space-around;
  }
  .parrafos{
    width:20vw;
    margin-top:2rem;
    text-align:center;
  }
  .parrafos p{
    margin-top:1rem;
  }
  .noticias{
    background-color:#1B5E20;
    padding:2rem 0;
  }
  .titulo-noticias{
    background-color:white;
    color:#1B5E20;
    width:15rem;
    border-radius:10px;
    text-align:center;
    margin:0 auto;
    
  }